## ASP.NET Core ##
.vs/
bin/
obj/
appsettings.Development.json
*.user
*.suo
*.userprefs
*.userosscache
*.sln.docstates

## Build results ##
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
build/
bld/

## NuGet ##
packages/
*.nupkg
.nuget/

## Database ##
*.mdf
*.ldf
*.sdf
__MigrationHistory/
*.db
*.sqlite

## IDE ##
.idea/
.vscode/